In [13]:
import pandas as pd
import numpy as np
from plotnine import *
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")

In [14]:
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

Function 1: pluralize_gift()
The gifts are listed in singular: for example, on day five the narrator receives “five golden rings”, but the entry in the data set for the gift on day five simply says “ring”.

Hint 1: The gifts on days six and nine have unusual pluralization. You may assume that in other data sets, there will be no additional special cases besides these types.

Hint 2: The following small code snippets may be useful to you:

In [15]:
def pluralize_gift(gift):
  """
  Returns plural of a noun
  
  Parameters
  ----------
  gift: str
    A noun
    
  Return
  ------
  str
    Plural version
  """

  if gift == "goose":
    gift = gift.replace("goose", "geese")
  elif gift == "lady": 
    gift = gift.replace("lady",'ladies')
  else:
    gift = gift + "s"

  return gift

In [16]:
pluralize_gift("goose")

'geese'

In [17]:
# Will work if your function is vectorized!
gifts = map(pluralize_gift, xmas['Gift.Item'])
list(gifts)

['partridges',
 'doves',
 'hens',
 'birds',
 'rings',
 'geese',
 'swans',
 'maids',
 'ladies',
 'lords',
 'pipers',
 'drummers']

Function 2: make_phrase()
Write a function called make_phrase() that takes as input the necessary information, and returns a phrase. For example,

make_phrase(num_word = "ten", 
            item = "lords", 
            verb = "a-leaping", 
            adjective = "", 
            location = "")
            
should return

"ten lords a-leaping"

In [30]:
def make_phrase(num, num_word, item, verb, adjective, location):


  ## Step 1: Replace NAs with blank strings
    verb = verb.replace("NaN", "")
    adjective = adjective.replace("NaN", "")
  
  ## Step 2: If the day number is larger than 1, the gift items need pluralized!
  ### Hint: call the function you created above!
    
    if num > 1:
        pluralize_gift(item)
    else:
        item = item
  
  
  ## Step 3: Figure out if a gift item starts with a vowel
    vowel_list = ['a','e','i','o','u']
  
  ## Step 4: For the first day, if the gift item starts with a vowel, replace the day with "an" and if the gift item does not start with a vowel, replace the day with "a" (e.g. a partridge in a pear tree). If it is not the first day, use just the number word (e.g. ten lords a leap)
    if (num == 1) & (item[0] in vowel_list):
        num_word = num_word.replace(num_word, "an")
    elif (num == 1) & (item[0] not in vowel_list):
         num_word = num_word.replace(num_word, "a")
    else:
        num_word = num_word
        
  ## Step 5: Put all of the pieces together into one string and return!
    str_list = [num_word, adjective, item, verb, location]
    return " ".join(filter(None, str_list))

In [35]:
make_phrase(num = 1, num_word = "one", item = "partridge", verb = 'NaN', adjective = 'NaN', location = "in a pear tree")

'a partridge in a pear tree'