In [1]:
import pandas as pd
import numpy as np

In [3]:
pop = pd.read_csv('pop.csv')

In [5]:
pop.melt(['country'], var_name = 'year', value_name = 'population')

            country  year population
0       Afghanistan  1800      3.28M
1            Angola  1800      1.57M
2           Albania  1800       400k
3           Andorra  1800       2650
4               UAE  1800      40.2k
...             ...   ...        ...
59292         Samoa  2100       441k
59293         Yemen  2100      74.2M
59294  South Africa  2100      74.6M
59295        Zambia  2100      63.6M
59296      Zimbabwe  2100      35.6M

[59297 rows x 3 columns]