---
title: 'Lab 3: Singing A Song'
Author: 'Jake Lamb'
output: html
theme: cosmo
self-contained: True
---

In [5]:
import pandas as pd
import numpy as np
from plotnine import *
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")

Function 1: pluralize_gift()
The gifts are listed in singular: for example, on day five the narrator receives “five golden rings”, but the entry in the data set for the gift on day five simply says “ring”.

Hint 1: The gifts on days six and nine have unusual pluralization. You may assume that in other data sets, there will be no additional special cases besides these types.

Hint 2: The following small code snippets may be useful to you:

In [7]:
"foot".find("oo")

1

In [8]:
def pluralize_gift(gift):
    
    """
      Returns plural of a noun

      Parameters
      ----------
      gift: str
        A noun

      Return
      ------
      str
        Plural version
    """
    if gift[-1] == "y": 
        gift = gift.replace("y",'ies')
    elif gift.find("oo") == 1:
        gift = gift.replace("oo", "ee")
    else:
        gift = gift + "s"

    return gift

In [9]:
pluralize_gift("goose")

'geese'

In [10]:
# Will work if your function is vectorized!
#Function is not vectorized, so we need to map it
gifts = map(pluralize_gift, xmas['Gift.Item'])
list(gifts)

['partridges',
 'doves',
 'hens',
 'birds',
 'rings',
 'geese',
 'swans',
 'maids',
 'ladies',
 'lords',
 'pipers',
 'drummers']

Function 2: make_phrase()
Write a function called make_phrase() that takes as input the necessary information, and returns a phrase. For example,

make_phrase(num_word = "ten", 
            item = "lords", 
            verb = "a-leaping", 
            adjective = "", 
            location = "")
            
should return

"ten lords a-leaping"

In [37]:
def make_phrase(num, num_word, item, verb, adjective, location):

    """
  Returns a phrase
  
  Parameters
  ----------
    num: int
        A number
    num_word: str
        A determiner
    item: str
        A noun
    verb: A str
        A verb
    Adjective: A str
        An adjective
    location: A str
        A noun
  Return
  ------
  str
    These parameters put together into a phrase
  """
    

  ## Step 1: Replace NAs with blank strings
    verb = "" if pd.isna(verb) else verb
    adjective = "" if pd.isna(adjective) else adjective
    location = "" if pd.isna(location) else location
  
  ## Step 2: If the day number is larger than 1, the gift items need pluralized!
  ### Hint: call the function you created above!
    
    if num > 1:
        item = pluralize_gift(item)
    else:
        item = item
  
  
  ## Step 3: Figure out if a gift item starts with a vowel
    vowel_list = ['a','e','i','o','u']
  
  ## Step 4: For the first day, if the gift item starts with a vowel, replace the day with "an" and if the gift item does not start with a vowel, replace the day with "a" (e.g. a partridge in a pear tree). If it is not the first day, use just the number word (e.g. ten lords a leap)
    if (num == 1) & (item[0] in vowel_list):
        num_word = num_word.replace(num_word, "an")
    elif (num == 1) & (item[0] not in vowel_list):
         num_word = num_word.replace(num_word, "a")
    else:
        num_word = num_word
        
  ## Step 5: Put all of the pieces together into one string and return!
    str_list = [num_word, adjective, item, verb, location]
    return " ".join(filter(None, str_list))

In [38]:
make_phrase(num = 1, num_word = "one", item = "partridge", verb = '', adjective = '', location = "in a pear tree")

'a partridge in a pear tree'

In [39]:
make_phrase(xmas["Day"][11], xmas['Day.in.Words'][11], xmas['Gift.Item'][11], xmas['Verb'][11], xmas['Adjective'][11], xmas['Location'][11])

'twelfth drummers drumming'

In [40]:
correct_num_word = {'first': 'one', 'second': 'two', 'third': 'three', 'fourth': 'four', 'fifth': 'five', 'sixth': 'six', 'seventh': 'seven', 'eighth': 'eight', 'ninth': 'nine',  'tenth': 'ten', 'eleventh': 'eleven', 'twelfth': 'twelve'}

In [41]:
xmas['num_word'] = xmas['Day.in.Words'].map(correct_num_word)
xmas

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,num_word,Full.Phrase
0,1,first,partridge,NaN,NaN,in a pear tree,one,a partridge in a pear tree
1,2,second,dove,NaN,turtle,NaN,two,two turtle doves
2,3,third,hen,NaN,french,NaN,three,three french hens
3,4,fourth,bird,NaN,calling,NaN,four,four calling birds
4,5,fifth,ring,NaN,golden,NaN,five,five golden rings
5,6,sixth,goose,a-laying,NaN,NaN,six,six geese a-laying
6,7,seventh,swan,a-swimming,NaN,NaN,seven,seven swans a-swimming
7,8,eighth,maid,a-milking,NaN,NaN,eight,eight maids a-milking
8,9,ninth,lady,dancing,NaN,NaN,nine,nine ladies dancing
9,10,tenth,lord,a-leaping,NaN,NaN,ten,ten lords a-leaping
10,11,eleventh,piper,piping,NaN,NaN,eleven,eleven pipers piping
11,12,twelfth,drummer,drumming,NaN,NaN,twelve,twelve drummers drumming

In [42]:
make_phrase(xmas["Day"][11], xmas['num_word'][11], xmas['Gift.Item'][11], xmas['Verb'][11], xmas['Adjective'][11], xmas['Location'][11])

'twelve drummers drumming'

In [43]:
xmas['Full.Phrase'] = xmas.apply(lambda x: make_phrase(x['Day'], x['num_word'], x['Gift.Item'], x['Verb'], x['Adjective'], x['Location']), axis=1)

In [44]:
xmas

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,num_word,Full.Phrase
0,1,first,partridge,NaN,NaN,in a pear tree,one,a partridge in a pear tree
1,2,second,dove,NaN,turtle,NaN,two,two turtle doves
2,3,third,hen,NaN,french,NaN,three,three french hens
3,4,fourth,bird,NaN,calling,NaN,four,four calling birds
4,5,fifth,ring,NaN,golden,NaN,five,five golden rings
5,6,sixth,goose,a-laying,NaN,NaN,six,six geese a-laying
6,7,seventh,swan,a-swimming,NaN,NaN,seven,seven swans a-swimming
7,8,eighth,maid,a-milking,NaN,NaN,eight,eight maids a-milking
8,9,ninth,lady,dancing,NaN,NaN,nine,nine ladies dancing
9,10,tenth,lord,a-leaping,NaN,NaN,ten,ten lords a-leaping
10,11,eleventh,piper,piping,NaN,NaN,eleven,eleven pipers piping
11,12,twelfth,drummer,drumming,NaN,NaN,twelve,twelve drummers drumming

Function 3: sing_day()
Write a function called sing_day() that takes as input:

A dataset (input as a dataframe)

A number indicating which day to sing about (input as an integer)

The name of a column in the dataset that contains the phrases for each day (input as an tidy name)

In [45]:
def sing_day(dataset, num, phrase_col):
    
    """
  Returns the intro to the song along with the phrase for each gift
  
  Parameters
  ----------
    dataset: a dataframe
        A dataframe to be passed in
    num: int
        A determiner
    phrase_col: a series
        A column in the form of a series
  Return
  ------
  str
    The intro to the song along with each gift printed on a new line.
    """
  

  # Step 1: Setup the intro line
    number_words = {
    1: "first",
    2: "second",
    3: "third",
    4: "fourth",
    5: "fifth",
    6: "sixth",
    7: "seventh",
    8: "eighth",
    9: "ninth",
    10: "tenth",
    11: "eleventh",
    12: "twelfth"
    }
    num_word = number_words[num]  # convert "1" to "first" etc.
    intro = "On the " + num_word + " day of Christmas, my true love sent to me:\n"
  
  # Step 2: Sing the gift phrases
  # Hint: What order are they gifts sung in each day?
    gifts = ""
    for i in range(num,0,-1):
        if (i == 1) & (num != 1):
            gifts = gifts + 'and ' + dataset[phrase_col][i-1] + ".\n"
        elif (i == 1) & (num == 1):
            gifts = gifts + dataset[phrase_col][i-1] + ".\n"
        else:
            gifts = gifts + dataset[phrase_col][i-1] + ",\n"

  
  # Step 3: Put it all together and return
    print(intro + gifts)

In [46]:
sing_day(xmas, 3, "Full.Phrase")

On the third day of Christmas, my true love sent to me:
three french hens,
two turtle doves,
and a partridge in a pear tree.

In [47]:
song = list(map(lambda x: sing_day(xmas, x, 'Full.Phrase'), xmas['Day']))
print(song)

On the first day of Christmas, my true love sent to me:
a partridge in a pear tree.

On the second day of Christmas, my true love sent to me:
two turtle doves,
and a partridge in a pear tree.

On the third day of Christmas, my true love sent to me:
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fourth day of Christmas, my true love sent to me:
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fifth day of Christmas, my true love sent to me:
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the sixth day of Christmas, my true love sent to me:
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the seventh day of Christmas, my true love sent to me:
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eighth day of Christmas, my true love sent to me:
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the ninth day of Christmas, my true love sent to me:
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the tenth day of Christmas, my true love sent to me:
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eleventh day of Christmas, my true love sent to me:
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the twelfth day of Christmas, my true love sent to me:
twelve drummers drumming,
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

[None, None, None, None, None, None, None, None, None, None, None, None]

In [48]:
xmas2 = pd.read_csv("https://www.dropbox.com/scl/fi/p9x9k8xwuzs9rhp582vfy/xmas_2.csv?rlkey=kvc3j3lmyn4opcidsrhcmrof1&dl=1")
xmas2

    Day Day.in.Words Gift.Item         Verb Adjective       Location
0     1        first     email          NaN       NaN  from Cal Poly
1     2       second     point          NaN      meal            NaN
2     3        third       pen          NaN      lost            NaN
3     4       fourth    review          NaN    course            NaN
4     5        fifth      exam          NaN  practice            NaN
5     6        sixth    grader      grading       NaN            NaN
6     7      seventh    senior    stressing       NaN            NaN
7     8       eighth       mom    a-calling       NaN            NaN
8     9        ninth     party      bumping       NaN            NaN
9    10        tenth      load   of laundry       NaN            NaN
10   11     eleventh    friend  goodbye-ing       NaN            NaN
11   12      twelfth      hour     sleeping       NaN            NaN

In [49]:
xmas2['num_word'] = xmas2['Day.in.Words'].map(correct_num_word)
xmas2['Full.Phrase'] = xmas2.apply(lambda x: make_phrase(x['Day'], x['num_word'], x['Gift.Item'], x['Verb'], x['Adjective'], x['Location']), axis=1)


song = list(map(lambda x: sing_day(xmas2, x, 'Full.Phrase'), xmas2['Day']))
print(song)

On the first day of Christmas, my true love sent to me:
an email from Cal Poly.

On the second day of Christmas, my true love sent to me:
two meal points,
and an email from Cal Poly.

On the third day of Christmas, my true love sent to me:
three lost pens,
two meal points,
and an email from Cal Poly.

On the fourth day of Christmas, my true love sent to me:
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the fifth day of Christmas, my true love sent to me:
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the sixth day of Christmas, my true love sent to me:
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the seventh day of Christmas, my true love sent to me:
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eighth day of Christmas, my true love sent to me:
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the ninth day of Christmas, my true love sent to me:
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the tenth day of Christmas, my true love sent to me:
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eleventh day of Christmas, my true love sent to me:
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the twelfth day of Christmas, my true love sent to me:
twelve hours sleeping,
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

[None, None, None, None, None, None, None, None, None, None, None, None]